# Ignore everything in data
data/**

# Allow folder structure
!data/
!data/**/

# Only keep placeholder files
!data/**/.gitkeep

# Ignore all logs
*.log

# Python
__pycache__/
*.pyc
.DS_Store

# Editor files
.vscode/
.idea/
*.swp